.bodyv {
    font-size: 80px;
    margin-top: 2px;
    margin-bottom: 0em;
    margin-right: 30px;
    color: aliceblue;
    text-align: right;
}

.carsContainer {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    margin-top: 20px;
    justify-content: flex-start;
}

.carsTitle {
    font-size: 36px;
    color: white; 
    margin-bottom: 10px; 
    text-align: center; 
    width: 50%; 
    margin-left: 0; 
}

.a {
    font-size: 20px;
    text-align: left;
    margin-right: 3px;
    text-decoration: none;
    color: rgb(231, 33, 33);
    background-color: rgb(226, 230, 15);
    border-radius: 6px;
}

.ul {
    float: right;
    text-align: start;
    color: aliceblue;
    margin-right: 15px;
}

.li {
    border-radius: 4px;
    color: aliceblue;
    margin-bottom: 20px;
    list-style-type: none;
}
