
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
 
 
}
.hed {
  width: 100%;
  height: 90px;
 
  position: fixed;
  margin-top: 0px;
}

.li {
  float:right;
  list-style-type: circle;
  font-size: 22px;
  text-decoration: none;
  color: rgb(235, 188, 34);
  display: block;
  padding: 20px;
  

}

.a {
  
  list-style-type: circle;
  font-size: 22px;
  text-decoration: none;
  color: rgb(7, 5, 65);
  display: block;
  padding: 20px;
  font-weight: bold;
  
  
}
