.App {
  text-align: center;
  font-size: '50px';
  font:'Nabla';
  font-style:'italic';
  background-image :'url("https://static01.nyt.com/images/2022/11/23/business/23wheels-concours-top/merlin_214812261_9deba3ce-a3d3-4b44-b652-e16406fc4988-jumbo.jpg?quality=75&auto=webp")';
 background-repeat:'no-repeat';
 
  
  color: "white";
  width: '100%'
}
#body {
  font-size: '50px';
  font:'Nabla';
  font-style:'italic';
  background-image :'url("https://static01.nyt.com/images/2022/11/23/business/23wheels-concours-top/merlin_214812261_9deba3ce-a3d3-4b44-b652-e16406fc4988-jumbo.jpg?quality=75&auto=webp")';
 background-repeat:'no-repeat';
 
  
  color: "white";
  width: '100%'
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
